    {% extends base_layout %}

    {% block content %}

    <style type="text/css">
        .tabs-left.tabbable-bordered .nav-tabs > li.active { border-left: 3px solid #75B643; }
        dt, dd { font-size: 14px; }
    </style>

    <div class="span12" style="margin-left:0;">
        <ul id="breadcrumbs">
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><a href="{{ uri_for('submissions-received')}}">Author: My Submissions</a></li>
            <li><span>View/Update Submission</span></li>
        </ul>
        <div class="span12" style="margin-left: 0;">

            <div class="w-box w-box-green">
                <div class="w-box-header">
                    <h4>{% trans %}Submission{% endtrans %} ID: {{ submission_id }}</h4>
                    <div class="pull-right">
                        <a href="{{ uri_for('my-submissions') }}" class="btn btn-mini" title="Back">Back</a>
                    </div>
                </div>
                <div class="w-box-content">

                    <table class="table">
                        {% if status_code in ['inq_rej', 'prop_rej', 'offer_rej', 'canceled'] %}
                        <tr class="error" id="tr-status">
                        {% elif status_code in ['deal', 'development', 'published'] %}
                        <tr class="success" id="tr-status">
                        {% else %}
                        <tr class="warning" id="tr-status">
                        {% endif %}
                            <td style="border-top: none; vertical-align: middle; text-align: center; height: 60px; padding: 0;">
                                <b>Current Status:&nbsp;{{ status }}</b>
                            </td>
                        </tr>
                    </table>

                </div>
            </div> <!-- w-box-green -->

            <div class="w-box w-box-green" style="margin-top: 0;">
                <div class="w-box-content cnt_ab submission">

                    <div class="tabbable tabs-left tabbable-bordered">
                        <ul class="nav nav-tabs" style="width: 130px;">
                            <li class="active"><a data-toggle="tab" href="#tb3_a">Details</a></li>
                            {% if coverletter and coverletter != '' %}
                            <li><a data-toggle="tab" href="#tb3_b">Cover Letter</a></li>
                            {% endif %}
                            <li><a data-toggle="tab" href="#tb3_c">Sample</a></li>
                            <li><a data-toggle="tab" href="#tb3_d">Proposal Letter</a></li>
                        </ul>
                        <div class="tab-content" style="height: 440px;">
                            <div id="tb3_a" class="tab-pane active">
                                <div class="submission_header" style="text-align: left; padding: 1px 15px 10px 15px; border-bottom: 1px solid #CCC;">
                                    <dl class="dl-horizontal">
                                        <dt>Title</dt>
                                        <dd class="list-name"><span class="title"><a href="{{ uri_for('view-manuscript')}}?mid={{ manuscript_id }}">{{ title }}</a></span></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Author</dt>
                                        <dd><a href="{{ uri_for('view-authors')}}?aid={{ author_id }}" class="author">{{ author }}</a></dd>
                                    </dl>
                                    {% if co_authors %}
                                    <dl class="dl-horizontal">
                                        <dt>Co-authors</dt>
                                        <dd>{{ co_authors }}</dd>
                                    </dl>
                                    {% endif %}
                                    <dl class="dl-horizontal">
                                        <dt>Tagline</dt>
                                        <dd>{{ tagline }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Summary</dt>
                                        <dd><pre>{{ summary }}</pre></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Genres</dt>
                                        <dd>
                                            {% for g in genres %}<span class="label label-info">{{ g }}</span>{% endfor %}
                                        </dd>
                                    </dl>
                                </div>
                                <div class="submission_header" style="text-align: left; padding: 1px 15px 10px 15px;">
                                    <dl class="dl-horizontal">
                                        <dt>Submitted To</dt>
                                        <dd><a href="{{ uri_for('view-publishinghouses')}}?phid={{ publishinghouse_id }}" class="author">{{ publishinghouse }}</a></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Submission Date</dt>
                                        <dd>{{ submitted_on }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Last Update</dt>
                                        <dd>{{ updated_on }}</dd>
                                    </dl>
                                </div>
                            </div>
                            {% if coverletter and coverletter != '' %}
                            <div id="tb3_b" class="tab-pane">
                                <div class="submission_coverletter" style="width: 650px; border: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;">
                                    {{ coverletter }}
                                </div>
                            </div>
                            {% endif %}
                            <div id="tb3_c" class="tab-pane">
                                <div class="view manuscript-sample" style="width: 650px; border: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;">
                                    <iframe src="{{ uri_for('manuscript-sample') }}?mid={{ manuscript_id }}" frameborder="0" style="width: 100%; height: 400px;"></iframe>
                                </div>
                            </div>
                            {% if proposalletter_id %}
                            <div id="tb3_d" class="tab-pane">
                                <div class="view response-letter" style="width: 650px; border: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;">
                                    <iframe src="{{ uri_for('view-responseletter') }}?rlid={{ proposalletter_id }}" frameborder="0" style="width: 100%; height: 400px;"></iframe>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div> <!-- w-box-green -->

            {% if status_code == 'req_prop' %}
            <div class="w-box w-box-green"> <!-- status_code is 'req_prop', send proposal -->
                
                <div class="w-box-header">
                    <h4>{% trans %}Send Proposal{% endtrans %}</h4>
                </div>
                
                <div class="w-box-content cnt_ab submission">

                    <legend style="margin-top: 0;">Proposal Letter</legend>
                    <form id="form_submission_proposal" action="{{ url|safe }}" method="post">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="submission_id" value="{{ submission_id }}">

                        <div class="controls" id="proposalletter_area">
                            {% if proposalletter_templates|length > 0 %}
                            <dd style="text-align: right; margin-bottom: 10px;" id="coverletter_select">
                                <select id="proposalletter_to_load" style="height: 30px; line-height: 30px; padding: 6px; vertical-align: middle; margin-bottom: 0; font-size: 12px; max-width: 200px;">
                                      <option value="None">Select a saved proposal letter</option>
                                      {% for c in proposalletter_templates %}
                                      <option value="{{ c[0] }}">{{ c[1] }}</option>
                                      {% endfor %}
                                </select>
                                <button type="button" class="btn btn-mini" id="proposalletter_load" style="height: 30px; width: 50px;">Load</button>
                            </dd>
                            {% endif %}
                            <textarea class="input-xxlarge focused" cols="50" id="proposalletter" name="proposalletter" rows="8" style="resize: vertical; width: 620px;"></textarea>
                            <div style="font-size: 11px; display: block; line-height: 15px; width: 720px; margin-bottom: 20px;">
                                <p class="muted">Specify your terms in this proposal, such as advance amount you require and commission on sales. The publisher will evaluate the proposal and make an offer. Otherwise, if you want to see the publisher's offer first, just say so. </p>
                            </div>
                            <dl class="dl-horizontal" style="margin-top: -10px; height: 30px; padding-left: 10px;">
                                <dt style="width: 200px; padding-top: 5px;"><input type="checkbox" id="proposalletter_save_checkbox" name="proposalletter_save_checkbox" value="True" style="margin-right: 5px;">
                                    Save Proposal Letter
                                </dt>
                                <dt style="white-space: normal; line-height: 15px; display: none;">Enter proposal letter name</dt>
                                <dd id='proposalletter_name_dd' style="display: none; height: 30px; line-height: 30px; vertical-align: top;">
                                    Enter proposal letter name<input class="input-large focused" id="proposalletter_name" name="proposalletter_name" type="text" value="" style="height: 15px; margin-left: 10px; margin-bottom: 0; font-size: 13px;">
                                </dd>
                            </dl>
                        </div>

                    </form>
                    <div class="response_buttons">
                        <a href="javascript:void(0)" class="PB-btn PB-btn-primary" id="sendproposal" >Send Proposal</a>
                    </div>

                </div>

            </div>
            {% endif %}


        </div>
    </div>
    {% endblock %}

    {% block mediaJS %}
    <script src="/static/js/lib/ckeditor/ckeditor.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/cke_overwrite.css"/>

    <script type="text/javascript">

        $().ready(function() {

            {% if status_code == 'req_prop' %}

                CKEDITOR.replace('proposalletter');

                $('#proposalletter_save_checkbox').click(function(){
                    if ($('#proposalletter_save_checkbox').is(':checked')){
                        $("#proposalletter_name_dd").show();  // checked
                    } else {
                        $('#proposalletter_name').val('');
                        $("#proposalletter_name_dd").hide();  // unchecked
                    }
                });

                $('#proposalletter_load').click(function(){
                    if ($('#proposalletter_to_load').val() != 'None') {
                        $.ajax({
                            url: "{{ uri_for('load-proposalletter') }}",
                            type: "GET",
                            data: { proposalletter_id: $('#proposalletter_to_load').val() },
                            dataType: "script"
                        });
                    };
                });

                $('#sendproposal').click(function(){
                    CKEDITOR.instances.proposalletter.updateElement();
                    var confirm_dialog = "Submission ID: {{ submission_id }} <br>";
                    confirm_dialog += 'Title: <i>"{{ title }}"</i> <br>';
                    confirm_dialog += "Author: {{ author }} <br>";
                    confirm_dialog += "Co-author(s): {{ co_authors }} <br><br>";
                    confirm_dialog += "Sending proposal automatically allows the publisher to view the full manuscript.<br>"
                    confirm_dialog += "Confirm sending proposal?"
                    bootbox.confirm(confirm_dialog, function(result) {
                        if (result) { $("#form_submission_proposal").submit(); };
                    });
                });

            {% elif status_code in ['submitted', 'rev_inq'] %}

            {% endif %}

        });
    </script>
    {% endblock %}

