    {% extends base_layout %}

    {% block content %}
    <div class="span12" style="margin-left:0;">
        <ul id="breadcrumbs">
            <li><a href="/"><i class="icon-home"></i></a></li>
            {% if new_manuscript %}
            <li><span>Author: New Manuscript</span></li>
            {% else %}
            <li><a href="{{ uri_for('my-manuscripts') }}">Author: My Manuscripts</a></li>
            <li><a href="{{ uri_for('view-manuscript') }}?mid={{ manuscript_id }}">Manuscript</a></li>
            <li><span>Edit Manuscript</span></li>
            {% endif %}
        </ul>
        <div class="span3" style="margin-left: 0;">
            <div class="sidebar">
                <div class="w-box w-box-green">
                    <div class="w-box-header">
                        <h4>Etc</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                    </div>
                </div>
            </div>
        </div>
        <div class="span9">             
            <div class="w-box w-box-green">
                <div class="w-box-header">
                    <h4>{% trans %}Manuscript{% endtrans %}</h4>
                    <div class="pull-right">
                        <a href="{{ uri_for('view-manuscript') }}?mid={{ manuscript_id }}" class="btn btn-mini" title="Back">Back</a>
                    </div>
                </div>
                <div class="w-box-content cnt_ab">

                    <div id="edit_manuscript" class="well form-vertical">
                        <fieldset>
                            <form id="form_manuscript" action="{{ url|safe }}" enctype="multipart/form-data" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                                <legend>Manuscript Info</legend>

                                <div class="control-group">
                                    <label class="control-label" for="title">Title</label>
                                    <div class="controls">
                                        <input class="full-width focused" id="title" name="title" type="text" value="{{ title }}">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="tagline">Tagline</label>
                                    <div class="controls">
                                        <input class="full-width focused" id="tagline" name="tagline" type="text" value="{{ tagline }}">
                                    </div>
                                    <div style="display: block; width: 630px;">
                                        <p class="muted">A memorable phrase that sums up the tone and premise of your manuscript.</p>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Summary</label>
                                    <div class="controls">
                                        <textarea class="full-width focused" cols="50" id="summary" name="summary" rows="8" style="resize: vertical;">{{ summary }}</textarea>
                                    </div>
                                    <div style="font-size: 11px; display: block; line-height: 15px; width: 630px; margin-bottom: 20px;">
                                        <p class="muted">Include a short summary of your this manuscript and/or relevant information. Make sure to check for spelling and grammar errors!
                                            <span id="countdown" style="float: right; font-weight: bold;"></span>
                                        </p>
                                    </div>   
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Select genres that best fit this manuscript (optional)</label>
                                    <select id="optgroup" name="genres" multiple="multiple">
                                        <optgroup label="Fiction">
                                            {% for genre in fiction_genres %}
                                            <option value="{{ genre }}">{{ genre }}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Non-fiction">
                                            {% for genre in nonfiction_genres %}
                                            <option value="{{ genre }}">{{ genre }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Can be viewed by</label>
                                    <label class="radio" style="float: left; margin-right: 40px;">
                                        <input type="radio" name="display_manuscript" id="display_manuscript_users" value="pb_users" {% if display_manuscript == "pb_users" %}checked=""{% endif %}>
                                        {% trans %}PublishBay users logged in{% endtrans %}
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="display_manuscript" id="display_manuscript_submissions" value="submissions" {% if display_manuscript == "submissions" %}checked=""{% endif %}>
                                        {% trans %}Submissions only{% endtrans %}
                                    </label>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="co_authors">Co-authors (optional)</label>
                                    <div class="controls">
                                        <input class="full-width focused" id="co_authors" name="co_authors" type="text" value="{{ co_authors }}">
                                    </div>
                                    <div style="font-size: 11px; display: block; line-height: 15px; width: 540px;">
                                        <p class="muted">Enter different co-authors separated by comma.</p>
                                    </div>   
                                </div>

                                <legend>Manuscript Sample</legend>

                                <div class="control-group" style="margin-bottom: 20px;">
                                    <div class="controls">
                                        <textarea name="wysiwyg" id="wysiwyg" class="ckeditor full-width focused" cols="50" rows="30" style="resize: vertical;"></textarea>
                                    </div>
                                </div>

                                <legend>Ownership Statement</legend>

                                <div class="control-group">
                                    <div class="form-warning">
                                        <div class="controls">
                                            <input type="checkbox" id="ownership" name="ownership" value="True" style="margin-right: 5px;">
                                            <b>I certify that the work here submitted is entirely of my own hand, or, if produced in collaboration with others, has been clearly identified as such.</b>
                                        </div>
                                    </div>
                                </div>

                                {% if not is_new_manuscript %}
                                <input id="manuscript_id" name="manuscript_id" type="text" value="{{ manuscript_id }}" style="display: none;">
                                {% endif %}

                                <div class="form-actions">
                                    <button type="button" class="PB-btn PB-btn-primary" id="submit-button">
                                    {% if is_new_manuscript %}
                                        {% trans %}Add Manuscript{% endtrans %}
                                    {% else %}
                                        {% trans %}Update Manuscript{% endtrans %}
                                    {% endif %}
                                    </button>
                                    {% if not is_new_manuscript %}
                                    <a href="{{ uri_for('view-manuscript') }}?mid={{ manuscript_id }}" class="PB-btn">Cancel</a>
                                    {% endif %}
                                </div>
                            </form>
                        </fieldset>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block mediaJS %}

    <script src="/static/js/lib/ckeditor/ckeditor.js"></script>
    <script src="/static/js/lib/jquery-validation/jquery.validate.js"></script>
    <script src="/static/js/jquery.multi-select.js"></script>
    <script src="/static/js/bootstrap-fileupload.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/cke_overwrite.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-fileupload.css">

    <script type="text/javascript">

        function updateCountdown() {
        // 5000 is the max description length
        var remaining = 5000 - $('#summary').val().length;
        $('#countdown').text(remaining + {% trans %}' characters left.'{% endtrans %});
        }

        $().ready(function() {

            var a = {{ genres_list|safe }};
            // $('#optgroup').multiSelect();
            $('#optgroup').multiSelect({
                selectableHeader: "<div class='custom-header'>Selectable genres</div>",
                selectionHeader: "<div class='custom-header'>Selected genres</div>"
            });
            $('#optgroup').multiSelect('select', a);

            $('.fileupload').fileupload({
                uploadtype: 'file',
                name: 'full_manuscript'
            });

            // setTimeout is necessary for the ckeditor load wysiwyg instance with saved text
            var t=setTimeout(function(){
                CKEDITOR.instances.wysiwyg.setData( '{{ sample|safe }}' );
            }, 100)

            $('#submit-button').click(function(){
                CKEDITOR.instances.wysiwyg.updateElement();
                $("#form_manuscript").submit();
            });

            // regex to extract file name from full path: [^/]*$

            $("#form_manuscript").validate({
                rules: {
                    title: "required",
                    summary: "required",
                    tagline: "required"
                },
                submitHandler: function(form) {
                    var re = /([<]\/?\b\w*\b[>])|(\&nbsp\;)|(\s*)/g;  // regex to remove tags and spaces (whitespaces and &nbsp;)
                    var manuscript_content = $('[name="wysiwyg"]').val();
                    var manuscript_stripped = manuscript_content.replace(re, '');
                    var to_upload = $('input[name="full_manuscript"]').val();
                    if (manuscript_stripped == "") {
                        bootbox.alert('You must fill in a manuscript sample');
                    }
                    else if ($('input[name="ownership"]:checked').length == 0) {
                        bootbox.alert('You must check the ownership statement');
                    } 
                    else if (to_upload != undefined && to_upload.substring(to_upload.length - 3).toLowerCase() != 'pdf') {
                        bootbox.alert('Current / Full Manuscript file type must be pdf');
                    }
                    else {
                        form.submit();
                    }
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline label-line").prependTo( element.parent() );
                }
            });

            updateCountdown();
            $('#summary').change(updateCountdown);
            $('#summary').keyup(updateCountdown);

        });

    </script>

    {% endblock %}
