    {% extends base_layout %}

    {% block content %}

            
    <div class="span12" style="margin-left:0;">
        <ul id="breadcrumbs">
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><a href="{{ uri_for('my-manuscripts') }}">Author: My Manuscripts</a></li>
            <li><a href="{{ uri_for('view-manuscript') }}?mid={{ manuscript_id }}">Manuscript</a></li>
            <li><span>Submit Manuscript</span></li>
        </ul>

        <div class="w-box">
            <div class="w-box-header">
                <h4>{% trans %}Manuscript Submission Form{% endtrans %}</h4>
            </div>
            <div class="w-box-content cnt_ab">
                <div class="well form-vertical">
                    <legend>Manuscript Info</legend>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>Title</dt>
                            <dd class="list-name">{{ title }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Tagline</dt>
                            <dd>{{ tagline }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Summary</dt>
                            <dd><pre>{{ summary }}</pre></dd>
                        </dl>
                        {% if co_authors %}
                        <dl class="dl-horizontal">
                            <dt>Co-authors</dt>
                            <dd>{{ co_authors }}</dd>
                        </dl>
                        {% endif %}
                        <dl class="dl-horizontal">
                            <dt>Genres</dt>
                            <dd>
                                {% for g in genres %}<span class="label label-info">{{ g }}</span>{% endfor %}
                            </dd>
                        </dl>
                    </div>

                    <legend>Cover letter</legend>

                    <fieldset>
                        <form id="form_manuscript_submission" action="{{ url|safe }}" method="post">

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">


                            <div class="control-group">
                                <dl class="dl-horizontal" style="margin-left: 7px;">
                                    <dt style="width: 300px;"><input type="checkbox" id="coverletter_checkbox" name="coverletter_checkbox" value="True" style="margin-right: 5px;">
                                        Include Cover Letter
                                    </dt>
                                    {% if saved_coverletters|length > 0 %}
                                    <dd style="width: 390px; text-align: right; display: none;" id="coverletter_select">
                                        <select id="coverletter_to_load" style="height: 22px; margin-bottom: 0; font-size: 12px; max-width: 200px;">
                                              <option value="None">Select a saved cover letter</option>
                                              {% for c in saved_coverletters %}
                                              <option value="{{ c[0] }}">{{ c[1] }}</option>
                                              {% endfor %}
                                        </select>
                                        <button type="button" class="btn btn-mini" id="coverletter_load">Load</button>
                                    </dd>
                                    {% endif %}
                                </dl>
                                <div id="coverletter_div" style="display: none;">
                                    <div class="controls" id="coverletter_area">
                                        <textarea class="input-xxlarge focused" cols="50" id="coverletter" name="coverletter" rows="8" style="resize: vertical; width: 620px;"></textarea>
                                    </div>
                                    <div style="font-size: 11px; display: block; line-height: 15px; width: 700px; margin-bottom: 20px; margin-top: 5px;">
                                        <p>A good cover letter will help &#34;sell&#34; your manuscript to the publisher. Make sure to check for spelling and grammar errors!</p>
                                    </div>
                                    <dl class="dl-horizontal" style="margin-top: -10px; height: 30px;">
                                        <dt style="width: 200px; padding-top: 5px;"><input type="checkbox" id="coverletter_save_checkbox" name="coverletter_save_checkbox" value="True" style="margin-right: 5px;">
                                            Save Cover Letter
                                        </dt>
                                        <dt style="white-space: normal; line-height: 15px; display: none;">Enter cover letter name</dt>
                                        <dd id='coverletter_name_dd' style="display: none; height: 30px; line-height: 30px; vertical-align: top;">
                                            Enter cover letter name<input class="input-large focused" id="coverletter_name" name="coverletter_name" type="text" value="" style="height: 15px; margin-left: 10px; margin-bottom: 0; font-size: 13px;">
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <legend>Select Publishing Houses to Submit</legend>
                            <p>Only publishing houses currently accepting unsolicited material are displayed</p>

                            <table class="table" style="margin-bottom: 20px;">
                                <thead>
                                    <tr>
                                        <th style="width: 20px;"><input type="checkbox" id="checkall" name="checkall" value="True"></th>
                                        <th style="width: 200px;">Publishing House</th>
                                        <th>Genres</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if publishinghouses|length > 0 %}
                                        {% for p in publishinghouses %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" id="pid{{ p.publishinghouse_id }}" name="pid" value="{{ p.publishinghouse_id }}" style="margin-right: 5px;">
                                            </td>
                                            <td>
                                                {% if p.logo_url != '' and p.logo_url %}
                                                <img src="{{ p.logo_url }}" alt="" style="max-height: 30px; max-width: 30px; margin-right: 5px; float:left;">
                                                {% else %}
                                                <img src="/static/images/dummy_50x50.gif" alt="" style="max-height: 30px; max-width: 30px; margin-right: 5px; float:left;">
                                                {% endif %}
                                                {{ p.name }}
                                            </td>
                                            <td>
                                                <div class="list-tags">{% for i in p.genres|sort %}<span class="label label-info">{{ i }}</span>{% endfor %}</div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                    <tr class="warning">
                                        <td></td>
                                        <td colspan="2">You have no saved publishing houses that accept unsolicited manuscripts</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>

                            <div class="form-actions">
                                <button type="button" class="PB-btn PB-btn-primary" id="submit-button">Submit Manuscript</button>
                                <a href="{{ uri_for('view-manuscript') }}?mid={{ manuscript_id }}" class="PB-btn">Cancel</a>
                            </div>

                        </form>
                    </fieldset>

                </div>
            </div>
        </div>

    </div>
    {% endblock %}

    {% block mediaJS %}

    <script src="/static/js/lib/ckeditor/ckeditor.js"></script>
    <script src="/static/js/lib/jquery-validation/jquery.validate.js"></script>

    <style type="text/css">
        .cke_chrome {
            border: 2px solid #CCC;
            border-radius: 4px;
        }

        .cke_inner {
            border-radius: 4px;
        }

        .cke_top {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .cke_bottom {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        #coverletter_div {
            width: 700px;
        }
    </style>

    <script type="text/javascript">

        $().ready(function() {

            CKEDITOR.replace('coverletter');

            $('#checkall').click(function(){
                if ($('#checkall').is(':checked'))
                    $('input[name="pid"]').prop('checked', true)  // check all
                else
                    $('input[name="pid"]').prop('checked', false)  // uncheck all
            });

            $('#submit-button').click(function(){
                CKEDITOR.instances.coverletter.updateElement();
                var checked_items = $('input[name="pid"]').serialize();
                if (checked_items.length == 0) {
                    bootbox.alert("Select at least one publishing house");
                }
                else {
                    var confirm_dialog = "Manuscript: " + $("dd.list-name").text();
                    var phs = $('input[name="pid"]:checked').map(function(a){ return $($(this).parent().siblings()[0]).text().trim() }).get();
                    phs = phs.join("<br>- ");
                    confirm_dialog += ("<br>" + "Submitting to:" + "<br>- " + phs + "<br>");
                    confirm_dialog += "<br>Confirm submission?"
                    bootbox.confirm(confirm_dialog, function(result) {
                        if (result) { $("#form_manuscript_submission").submit(); };
                    });                     
                };
            });
            
            $('#coverletter_checkbox').click(function(){
                if ($('#coverletter_checkbox').is(':checked')){
                    $("#coverletter_div, #coverletter_select").show();  // checked
                } else {
                    CKEDITOR.instances.coverletter.setData();
                    $('#coverletter_to_load')[0].selectedIndex = 0;
                    $('#coverletter_name').val('');
                    $('#coverletter_save_checkbox').prop('checked', false);
                    $("#coverletter_div, #coverletter_select").hide();  // unchecked
                }
            });

            $('#coverletter_save_checkbox').click(function(){
                if ($('#coverletter_save_checkbox').is(':checked')){
                    $("#coverletter_name_dd").show();  // checked
                } else {
                    $('#coverletter_name').val('');
                    $("#coverletter_name_dd").hide();  // unchecked
                }
            });

            $('#coverletter_load').click(function(){
                if ($('#coverletter_to_load').val() != 'None') {
                    $.ajax({
                        url: "{{ uri_for('load-coverletter') }}",
                        type: "GET",
                        data: { coverletter_id: $('#coverletter_to_load').val() },
                        dataType: "script"
                    });
                };
            });

        });
    </script>
    {% endblock %}

