    {% extends base_layout %}

    {% block content %}

            
    <div class="span12" style="margin-left:0;">
        <ul id="breadcrumbs">
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><a href="{{ uri_for('my-manuscripts') }}">Author: My Manuscripts</a></li>
            <li><span>Manuscript</span></li>
        </ul>
        <div class="span3" style="margin-left: 0;">
            <div class="sidebar">
                <div class="w-box w-box-orange">
                    <div class="w-box-header">
                        <h4>Etc</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                    </div>
                </div>
            </div>
        </div>
        <div class="span9">             
            <div class="w-box">
                <div class="w-box-header">
                    <h4>{% trans %}Manuscript{% endtrans %}</h4>
                    <div class="pull-right">
                        <a href="{{ uri_for('edit-manuscript') }}?manuscript_id={{ manuscript_id }}" class="btn btn-mini icon ptip_sw" title="Edit"><i class="icon-pencil"></i></a>
                        <a href="{{ uri_for('submit-manuscript') }}?manuscript_id={{ manuscript_id }}" class="btn btn-mini icon ptip_sw" title="Submit"><i class="icsw16-box-outgoing"></i></a>
                    </div>
                </div>
                <div class="w-box-content cnt_ab">
                    <div class="well form-vertical">
                        <!-- <legend>Manuscript Info</legend> -->
                        <div>
                            <dl class="dl-horizontal">
                                <dt>Title</dt>
                                <dd class="list-name">{{ title }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Tagline</dt>
                                <dd>{{ tagline }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Summary</dt>
                                <dd><pre>{{ summary }}</pre></dd>
                            </dl>
                            {% if co_authors %}
                            <dl class="dl-horizontal">
                                <dt>Co-authors</dt>
                                <dd>{{ co_authors }}</dd>
                            </dl>
                            {% endif %}
                            <dl class="dl-horizontal">
                                <dt>Display</dt>
                                {% if display_manuscript == 'pb_users' %}
                                <dd>{% trans %}PublishBay users logged in{% endtrans %}</dd>
                                {% elif display_manuscript == 'submissions' %}
                                <dd>{% trans %}Submissions only{% endtrans %}</dd>
                                {% endif %}
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Genres</dt>
                                <dd>
                                    {% for g in genres %}<span class="label label-info">{{ g }}</span>{% endfor %}
                                </dd>
                            </dl>
                        </div>
                        <!-- <legend>Manuscript Sample</legend> -->
                        <div class="manuscript-sample">
                            {{ sample }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block mediaJS %}
    <script type="text/javascript">

        $().ready(function() {
            $("#mark").click( function() {
                $.ajax({
                    url: "{{ uri_for('save-publishinghouse') }}",
                    type: "GET",
                    data: { publishinghouse_id: "{{publishinghouse_id}}" },
                    dataType: "script"
                })
                
            });

        });
    </script>
    {% endblock %}

