    {% extends base_layout %}

    {% block content %}

            
    <div class="span12" style="margin-left:0;">
        <ul id="breadcrumbs">
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><a href="{{ uri_for('submissions-received')}}">Publisher: Submissions Received</a></li>
            <li><span>Read Submission</span></li>
        </ul>
        <div class="span12" style="margin-left: 0;">             
            <div class="w-box w-box-blue">
                <div class="w-box-header">
                    <h4>{% trans %}Submission{% endtrans %} ID: {{ submission_id }}</h4>
                    <div class="pull-right">
                        <a href="{{ uri_for('submissions-received') }}" class="btn btn-mini icon ptip_sw" title="Back" style="width: 23px;"><i class="icon-chevron-left"></i></a>
                    </div>
                </div>
                <div class="w-box-content cnt_ab submission" xx="{{ submission_locked }}">

                    {% if submission_locked %}
                    <table class="table table-bordered" style="margin-bottom: 20px;">
                        {% if status == 'Accepted' or status == 'Acquired' %}
                        <tr class="success" id="tr-status">
                        {% elif status == 'Rejected' or status == 'Canceled' %}
                        <tr class="error" id="tr-status">
                        {% elif status == 'Negotiating' %}
                        <tr class="info" id="tr-status">
                        {% else %}
                        <tr class="warning" id="tr-status">
                        {% endif %}
                            <td style="width: 220px; margin: 0; vertical-align: middle; text-align: center; height: 50px; padding: 0;">
                                <b>Manuscript Submission Result:&nbsp;{{ status }}</b>
                            </td>
                        </tr>
                    </table>
                    {% endif %}

                    <div class="submission_header">
                        <span class="title">&#34;{{ title }}&#34;</span>
                        <br/>by&nbsp;<a href="{{ uri_for('view-authors')}}?aid={{ author_id }}" class="author">{{ author }}</a>
                        <br/>
                        {% if co_authors %}
                        <span class="co-authors">co-author(s): {{ co_authors }}</span>
                        <br/>
                        {% endif %}
                        <span class="tagline">{{ tagline }}</span>
                        <br/>
                        <div class="genres">{% for g in genres %}<span class="label label-info">{{ g }}</span>{% endfor %}</div>
                    </div>
                    {% if coverletter and coverletter != '' %}
                    <div class="submission_coverletter">
                        {{ coverletter }}
                    </div>
                    {% endif %}
                    <legend>Summary</legend>
                    <div>
                        <pre class="summary">{{ summary }}</pre>
                    </div>
                    <legend>Manuscript Sample</legend>
                    <div class="submission manuscript-sample">
                        {{ sample }}
                    </div>

                    {% if submission_locked %}

                        {% if responseletter %}
                        <legend>Response Letter</legend>
                        <div class="submission response-letter">
                            {{ responseletter }}
                        </div>
                        {% endif %}
                    
                    {% else %}
                    <div class="submission_buttons">
                        <a href="javascript:void(0)" class="PB-btn PB-btn-primary" id="respond" >Respond Submission</a>
                        <a href="{{ uri_for('submissions-received')}}" class="PB-btn" id="back" >Back to Submissions</a>
                    </div>

                    <div class="submission response" style="display: none;">
                        <legend>Response</legend>
                        <form id="form_submission_response" action="{{ url|safe }}" method="post">

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="submission_id" value="{{ submission_id }}">

                            <div class="controls" id="responseletter_area">
                                {% if saved_responseletters|length > 0 %}
                                <dd style="text-align: right; margin-bottom: 10px;" id="coverletter_select">
                                    <select id="responseletter_to_load" style="height: 30px; line-height: 30px; padding: 6px; vertical-align: middle; margin-bottom: 0; font-size: 12px; max-width: 200px;">
                                          <option value="None">Select a saved response letter</option>
                                          {% for c in saved_responseletters %}
                                          <option value="{{ c[0] }}">{{ c[1] }}</option>
                                          {% endfor %}
                                    </select>
                                    <button type="button" class="btn btn-mini" id="responseletter_load" style="height: 30px; width: 50px;">Load</button>
                                </dd>
                                {% endif %}
                                <textarea class="input-xxlarge focused" cols="50" id="responseletter" name="responseletter" rows="8" style="resize: vertical; width: 620px;"></textarea>
                                <div style="font-size: 11px; display: block; line-height: 15px; width: 720px; margin-bottom: 20px;">
                                    <p class="muted">Be professional, consistent, brief and, most of all, respectful.</p>
                                </div>
                                <dl class="dl-horizontal" style="margin-top: -10px; height: 30px; padding-left: 10px;">
                                    <dt style="width: 200px; padding-top: 5px;"><input type="checkbox" id="responseletter_save_checkbox" name="responseletter_save_checkbox" value="True" style="margin-right: 5px;">
                                        Save Response Letter
                                    </dt>
                                    <dt style="white-space: normal; line-height: 15px; display: none;">Enter response letter name</dt>
                                    <dd id='responseletter_name_dd' style="display: none; height: 30px; line-height: 30px; vertical-align: top;">
                                        Enter response letter name<input class="input-large focused" id="responseletter_name" name="responseletter_name" type="text" value="" style="height: 15px; margin-left: 10px; margin-bottom: 0; font-size: 13px;">
                                    </dd>
                                </dl>
                                <table class="table table-bordered">
                                    <tr class="warning" id="tr-status">
                                        <td style="width: 220px; margin: 0; vertical-align: middle; text-align: center; height: 50px; padding: 0;">
                                            <b>Manuscript Submission Result:&nbsp;&nbsp;&nbsp;</b>
                                            <select id="status" name="status" style="margin-bottom: 0; width: 140px;">
                                                <option value="None">Select</option>
                                                <option value="accepted">Accepted</option>
                                                <option value="rejected">Rejected</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </form>
                        <div class="response_buttons">
                            <a href="javascript:void(0)" class="PB-btn PB-btn-primary" id="sendresponse" >Send Response</a>
                            <a href="javascript:void(0)" class="PB-btn" id="cancelbutton" >Cancel</a>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block mediaJS %}
    <script src="/static/js/lib/ckeditor/ckeditor.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/cke_overwrite.css"/>

    <script type="text/javascript">

        $().ready(function() {

            CKEDITOR.replace('responseletter');

            $('#respond').click(function(){
                if ($('.submission.response').css('display') == 'none') {
                    $('.submission.response').show();
                    $('.submission_buttons').hide();
                } else {
                    $('.submission.response').hide();
                    CKEDITOR.instances.responseletter.setData();
                    $('option[value="None"]').prop('selected', 'selected');
                    $('#responseletter_save_checkbox').prop('checked', false);
                    $('#responseletter_name').val('');
                    $('.submission_buttons').show();
                }
            });

            $('#cancelbutton').click(function(){ $('#respond').click() });

            $('#responseletter_save_checkbox').click(function(){
                if ($('#responseletter_save_checkbox').is(':checked')){
                    $("#responseletter_name_dd").show();  // checked
                } else {
                    $('#responseletter_name').val('');
                    $("#responseletter_name_dd").hide();  // unchecked
                }
            });

            $('#responseletter_load').click(function(){
                if ($('#responseletter_to_load').val() != 'None') {
                    $.ajax({
                        url: "{{ uri_for('load-responseletter') }}",
                        type: "GET",
                        data: { responseletter_id: $('#responseletter_to_load').val() },
                        dataType: "script"
                    });
                };
            });

            $('#sendresponse').click(function(){
                CKEDITOR.instances.responseletter.updateElement();
                if ($.inArray($('#status').val(), ['accepted', 'rejected']) < 0) {
                    bootbox.alert("You must select manuscript submission result");
                } else {
                    var confirm_dialog = "Submission ID: {{ submission_id }} <br>";
                    confirm_dialog += 'Title: <i>"{{ title }}"</i> <br>';
                    confirm_dialog += "Author: {{ author }} <br>";
                    confirm_dialog += "Co-author(s): {{ co_authors }} <br><br>";
                    confirm_dialog += ("Submission result: <b>" + $('#status').val().toUpperCase() + "</b><br><br>");
                    confirm_dialog += "Confirm submission response?"
                    bootbox.confirm(confirm_dialog, function(result) {
                        if (result) { $("#form_submission_response").submit(); };
                    });                     
                };
            });

            $('#status').change(function(){
                var sta = ['warning', 'success', 'error'];
                var color = sta[$.inArray($('#status').val(), ['None', 'accepted', 'rejected'])];
                $('#tr-status').attr('class', color)
            })

        });
    </script>
    {% endblock %}

