    {% extends base_layout %}

    {% block content %}

            
    <div class="span12" style="margin-left:0;">

        <ul id="breadcrumbs">
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><span>Publisher: Submissions Received</span></li>
        </ul>

        <div class="w-box w-box-blue">
            <div class="w-box-header">
                <h4>{% trans %}Submissions Received{% endtrans %}</h4>
                <div class="pull-right">
                    <div class="toggle-group">
                        <span class="dropdown-toggle" data-toggle="dropdown">{{ status_filter_label }} <span class="caret"></span></span>
                        <ul class="dropdown-menu">
                            {% if status_filter != 'unread' %}
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=unread">Status: unread</a></li>
                            {% endif %}
                            {% if status_filter != 'read' %}
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=read">Status: read</a></li>
                            {% endif %}
                            {% if status_filter != 'rejected' %}
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=rejected">Status: rejected</a></li>
                            {% endif %}
                            {% if status_filter != 'accepted' %}
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=accepted">Status: accepted</a></li>
                            {% endif %}
                            {% if status_filter != 'acquired' %}
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=acquired">Status: acquired</a></li>
                            {% endif %}
                            {% if status_filter != 'all' %}
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=all">All</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-box-content">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Submission ID</th>
                                <th>Manuscript</th>
                                <th>Author</th>
                                <th>Status</th>
                                <th>CL</th>
                                <th>Submitted</th>
                                <th>Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if submissions|length > 0 %}
                                {% for s in submissions %}
                                <tr>
                                    <td>
                                        <a href="">{{ s.submission_id }}</a>
                                    </td>
                                    <td>
                                        {{ s.manuscript_title }}
                                    </td>
                                    <td>
                                        <a href="{{ uri_for('view-authors') }}?aid={{ s.author_id }}">{{ s.author }}</a>
                                    </td>
                                    <td>
                                        {{ s.status }}
                                    </td>
                                    <td>
                                        {% if s.coverletter %}
                                        <i class="icsw16-paperclip"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ s.submitted_on }}
                                    </td>
                                    <td>
                                        {{ s.status_updated_on }}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="warning">
                                    <td colspan="7" style="text-align: center;">You have no submissions received matching the selected filter</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

            </div>
        </div>

    </div>
    {% endblock %}

    {% block mediaJS %}

    <script type="text/javascript">

        $().ready(function() {

        });
    </script>
    {% endblock %}

