    {% extends base_layout %}

    {% block content %}

            
    <div class="span12" style="margin-left:0;">

        <ul id="breadcrumbs">
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><span>Publisher: Submissions Received</span></li>
        </ul>

        <div class="w-box w-box-blue">
            <div class="w-box-header">
                <h4>{% trans %}Submissions Received{% endtrans %}</h4>
                <div class="pull-right">
                    <div class="toggle-group">
                        <span class="dropdown-toggle" data-toggle="dropdown">{{ status_filter_label }} <span class="caret"></span></span>
                        <ul class="dropdown-menu">
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=all">Status: all</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=submitted">Status: submitted</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=rev_inq">Status: reviewing inquiry</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=inq_rej">Status: rejected</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=req_prop">Status: requesting prop</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=eval_prop">Status: evaluating prop</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=prop_rej">Status: prop rejected</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=offer">Status: offer</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=offer_rej">Status: offer rejected</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=canceled">Status: canceled</a></li>
                            <li><a href="{{ uri_for('submissions-received')}}?status_filter=deal">Status: deal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-box-content">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Submission ID</th>
                                <th>Manuscript</th>
                                <th>From Author</th>
                                <th>Status</th>
                                <th>CL</th>
                                <th>RL</th>
                                <th style="width: 110px;">Submitted</th>
                                <th style="width: 110px;">Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if submissions|length > 0 %}
                                {% for s in submissions %}
                                <tr>  <!-- class="{ s.class }" -->
                                    <td>
                                        <a href="{{ uri_for('manage-submission') }}?submission_id={{ s.submission_id }}">{{ s.submission_id }}</a>
                                    </td>
                                    <td>
                                        {{ s.manuscript_title }}
                                    </td>
                                    <td>
                                        <a href="{{ uri_for('view-authors') }}?aid={{ s.author_id }}">{{ s.author }}</a>
                                    </td>
                                    <td>
                                        {{ s.status }}
                                    </td>
                                    <td>
                                        {% if s.coverletter %}
                                        <i class="icsw16-paperclip"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.responseletter %}
                                        <i class="icsw16-paperclip"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ s.submitted_on }}
                                    </td>
                                    <td>
                                        {{ s.status_updated_on }}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="warning">
                                    <td colspan="8" style="text-align: center; padding: 8px 0px;">
                                        {% if status_filter == 'submitted' %}
                                        You have no unread submissions received
                                        {% elif status_filter == 'rev_inq' %}
                                        You have no submissions received marked as read
                                        {% elif status_filter == 'inq_rej' %}
                                        You have no submissions received which were rejected
                                        {% elif status_filter == 'req_prop' %}
                                        You have no submissions received which were accepted
                                        {% elif status_filter == 'prop_rej' %}
                                        You have no submissions received which you pass after analyzing the full manuscript
                                        {% elif status_filter == 'eval_prop' %}
                                        You have no proposals under evaluation
                                        {% elif status_filter == 'offer' %}
                                        You have no submissions received in negotiation process
                                        {% elif status_filter == 'canceled' %}
                                        You have no submissions received which negotiation process was canceled
                                        {% elif status_filter == 'deal' %}
                                        You have no submissions received which were acquired
                                        {% elif status_filter == 'development' %}
                                        You have no submissions received under development
                                        {% elif status_filter == 'published' %}
                                        You have no submissions received turned into a publication
                                        {% elif status_filter == 'all' %}
                                        You have no submissions received
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

            </div>
        </div>

    </div>
    {% endblock %}

    {% block mediaJS %}

    <script type="text/javascript">

        $().ready(function() {

        });
    </script>
    {% endblock %}

