#fade-menu {
	font-size: 13px;
	font-weight: normal;
}

#fade-menu [class^="icon-"], #fade-menu [class*=" icon-"] {
	margin-right: 3px;
	margin-top: 0;
}

#fade-menu ul li ul li a {
	padding-top: 2px;
}

#fade-menu ul li ul li {
	width: 190px;
	display: block;
	float: none;
	border-right: none;
}

#fade-menu ul li ul {
	left: 0;
}

body {
	padding-top: 35px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

header {
	margin-bottom: 0;
	/* background: #A0A0A0; */
}

.main-col {
	float: left;
	padding: 10 0;
	position: relative;
	margin-left: 10;
	padding-left: 20;
}

#login-wrapper {
	position: relative;
	border: 1px solid #ddd;
	width: 474px;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

.flash {
	font-weight: bold;
	display: none;
	position: fixed;
	padding: 5px 10;
	top: 120;
	right: 110;
	min-width: 200;
	opacity: 0.95;
	margin: 0 0 10 10;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	background-color: #888;
	border: 2px solid #fff;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background-image: none;
	background-repeat: no-repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	z-index: 2000;
}

.error.help-inline {
	margin-top: -12px;
	font-size: 11px;
	float: left;
	margin-bottom: 0;
}

.control-group.error .controls .error.help-inline {
	float: none;
	margin-bottom: 0;
	font-size: 11px;
	display: inline-block;
	z-index: 1000;
	vertical-align: bottom;
	position: relative;
	top: 11px;
	right: 232px;
}

textarea {
	width: 200;
}

input[type="text"], input[type="password"], select {
	/* width: 200; */
	margin-right: 5px;
}

textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
	background-color: #fff;
	border: 2px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 2px solid #e5e5e5;
}

.thumbnail {
	border: 2px solid #ccc;
}

.navbar .nav > li > a {
    padding: 10 15px 10 0;
}

div.error_wrapper .error {
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

div.error_wrapper {
    margin-bottom: 0;
}

span#closeflash {
    float: right;
}

.well {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background: none;
	box-shadow: none;
}

.w-box-content.cnt_ab {
	padding: 0 10px;
}

#content {
	padding-top: 20;
}

.auth-at-loginpage fieldset {
	width: 25%;
	min-width: 270;
	margin: 0 10;
}

#main-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: -15px auto -40px;
}

footer, .push {
	height: 35px;
}

footer {
	margin-bottom: 0;
}

.password_strength {
	display: block;
	width: auto;
	margin: 2px 0 -18px 5px;
	text-align: center;
	float: left;
}

span.password_strength {
	position: relative;
	top: -67px;
	width: auto;
	left: -9px;
	float: right;
	margin-bottom: -20px;
}

.form-horizontal .controls {
	line-height: 30px;
	font-size: 14px;
}

.form-vertical .controls {
	line-height: 30px;
	font-size: 14px;
}

.form-vertical .controls a {
	color: #4183C4;
	font-weight: bold;
}

.alert {
	border-radius: 0;
	margin-top: 5px;
}

.help-block {
	margin-top: 0;
	font-size: 14px;
}

.w-box-header {
	height: 32px;
	line-height: 32px;
	padding: 0 10px 0px;
	background: #A2A2A2;
	color: #FFF;
	font-size: 13px;
}

.w-box-header h4 {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}

form {
	background: none;
}

.form-actions {
	padding: 5px 0 20px;
	margin-top: 0;
	margin-bottom: 20px;
	background-color: #F5F5F5;
	border-top: none;
}

.form-actions h5 {
	font-weight: normal;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0;
	line-height: normal;
}

.social-login-icons a.social-btn {
	border-radius: 4px;
}

.social-login-icons tbody{
	vertical-align: top;
}

form#delete_social {
	margin-left: 5px;
}

#third_party_login {
	border-top: none;
	margin-top: 0;
}

#third_party_login h5 {
	font-weight: normal;
	margin-top: 0;
}

.form-warning {
	background-color: #FFFFE2;
	border: 1px solid #E7E4C2;
	border-radius: 4px;
	color: #333;
	display: inline-block;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 19px;
	margin: 10px 0 0;
	padding: 8px 10px;
	width: auto;
}

.form-warning p {
	margin: 0;
}

label {
	cursor: default;
}

#powerTip {
	cursor: default;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	display: none;
	padding: 2px 10px;
	position: absolute;
	white-space: nowrap;
	z-index: 2147483647;
	font-size: 12px;
	border-radius: 4px;
}

[class^=icsw16-], [class*=" icsw16-"] {
	margin-right: .2em;
}

#pageNav { 
	margin: 0;
	padding: 0;
	width: 100%;
}

#pageNav li { 
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid rgba(255,255,255,.6);
}

#pageNav a { 
	position: relative;
	display: block;
	font-size: 13px;
	color: #4183C4;
	padding: 6px 8px;
	background: #888;
	background: rgba(0,0,0,.08);
	border-bottom: none;
}

#pageNav a:hover, #pageNav .active a { 
	text-decoration: none;
	background: #777;
	background: rgba(0,0,0,.15);
	border-bottom: none;
}

#pageNav .active a {
	font-weight: bold;
	border-left: 2px solid #D26911 !important;
	color: #1A5EA2;
	padding-left: 6px;
}

#pageNav li:last-child a { 
	border: none 
}

#pageNav li.active a:after { 
	left: 100%;
	border: solid transparent;
	content: normal;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#pageNav li.active a:after { 
	border-color: rgba(136, 183, 213, 0);
	border-left-color: rgba(0,0,0,.2);
	border-width: 16px;
	top: 50%;
	margin-top: -16px;
}

.radio, .checkbox {
	font-size: 13px;
	margin-left: 2px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
	margin-top: 2px;
	float: left;
	margin-left: -20px;
}

input[type="radio"] label {
	font-size: 13px;
	font-weight: bold;
}

.control-group {
	margin-bottom: 10px;
	overflow: auto;
}

label.control-label {
	font-weight: bold;
}

.form-warning {
	margin: 0;
}

dl {
	overflow: auto;
}

dt, dd {
	font-size: 14px;
	margin: 0;
	padding-top: 0;
	line-height: 20px;
}

dd {
	overflow: auto;
	margin-left: 10px;
}

.dl-horizontal {
	margin-bottom: 30px;
}

.dl-horizontal dt {
	float: left;
	width: 160px;
	overflow: auto;
	clear: left;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

dd pre {
	font-family: inherit;
	font-size: inherit;
	background: inherit;
	border: inherit;
	padding: inherit;
	padding-top: 0;
	margin-bottom: 0;
}

.btn {
	line-height: 25px;
}

a.btn-mini {
	padding-right: 15px;
	padding-left: 15px;
	font-size: 12px;
}

.PB-btn {
	cursor: pointer;
	border: 0;
	display: inline-block;
	background: rgba(0, 0, 0, 0);
	font: 700 13px sans-serif;
	line-height: 25px;
	border-radius: 6px;
	background-clip: padding-box;
	padding: 5px 14px 3px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: always;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 0 !important;
	font-size: 14px;
}

.PB-btn:hover {
	text-decoration: none;
	color: #FFF;
}

.PB-btn-primary {
	color: #FFF;
	background: #7ADA4A;
	background: #7ADA4A -webkit-linear-gradient(top,#7ADA4A,#62C831 95%,#53BF29);
	background: #7ADA4A -moz-linear-gradient(top,#7ADA4A,#62C831 95%,#53BF29);
	background: #7ADA4A -o-linear-gradient(top,#7ADA4A,#62C831 95%,#53BF29);
	background: #7ADA4A linear-gradient(top,#7ADA4A,#62C831 95%,#53BF29);
	border: 1px solid #509E19;
	border-bottom-color: #198D0F;
	border-top-color: #6DBE38;
	-webkit-box-shadow: 0 1px 3px rgba(38, 151, 72, .5),inset 0 1px 0 #9FE662;
	-moz-box-shadow: 0 1px 3px rgba(38,151,72,.5),inset 0 1px 0 #9fe662;
	box-shadow: 0 1px 3px rgba(38, 151, 72, .5),inset 0 1px 0 #9FE662;
	text-shadow: 0 1px 0 #25A811;
}

.PB-btn-primary:hover {
	background: #93DD64;
	background: #93DD64 -webkit-linear-gradient(top,#93DD64,#72D239 95%,#6FCC37);
	background: #93DD64 -moz-linear-gradient(top,#93DD64,#72D239 95%,#6FCC37);
	background: #93DD64 -o-linear-gradient(top,#93DD64,#72D239 95%,#6FCC37);
	background: #93DD64 linear-gradient(top,#93DD64,#72D239 95%,#6FCC37);
	-webkit-box-shadow: 0 1px 3px rgba(38, 151, 72, .5),inset 0 1px 0 #ADEC66;
	-moz-box-shadow: 0 1px 3px rgba(38,151,72,.5),inset 0 1px 0 #adec66;
	box-shadow: 0 1px 3px rgba(38, 151, 72, .5),inset 0 1px 0 #ADEC66;
	border: 1px solid #6DBE38;
	border-bottom: 1px solid #198D0F;
}

.PB-btn-jumbo {
	display: block;
	font-size: 18px;
	padding: 0;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
	width: 100%;
}

input.PB-big-search {
	height: 34px;
	margin: 0;
	padding: 0 10px;
	font-size: 16px;
	width: 480px;
	border-radius: 7px;
	color: #6D696F;
}

.PB-btn-big-search {
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	padding: 0 19px;
	margin-left: 5px;
}

.pagination ul > li.inactive:first-child a, .pagination ul > li.inactive:last-child a, .pagination ul > li.inactive a, .pagination ul > li.inactive a:hover {
	border-color: #D1D1D1;
	background-color: #FFF;
	cursor: default;
	color: #888;
}

.jQ-list .list-name {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	display: block;
	padding: 0;
	color: #80A226;
	padding-left: 67px;
}

.jQ-list .list-title {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	display: block;
	padding: 4px 0 0;
	color: #555;
	padding-left: 67px;
}

.jQ-list .list-info {
	font-size: 13px;
	display: block;
	color: #777;
	padding-left: 67px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.jQ-list .list-tags {
	font-size: 13px;
	display: block;
	color: #777;
	padding-left: 67px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.jQ-list ul img + .list-name, .jQ-list ul img + .list-name + .list-info, .jQ-list ul img + .list-info {
	padding-left: 67px;
}

.jQ-list ul li {
	border-bottom: 1px solid #B2B2B2;
	padding-bottom: 18px;
	margin-bottom: 18px;
}

.jQ-list {
	height: auto;
	position: relative;
	overflow: visible;
}

.jQ-list > ul {
	height: auto;
	overflow: visible;
	list-style: none;
	padding-top: 20px;
}

.w-box-content.cnt_browse {
	padding: 20px 20px 0 20px;
}

.pagination {
	height: 40px;
	margin-top: 0;
	margin-bottom: 0;
}

.label.label-info {
	margin-right: 4px;
}

.isHidden {
	display: none;
}

.lessmore {
	color: #80A226;
	cursor: pointer;
}