#fade-menu {
	font-size: 13px;
	font-weight: normal;
}

#fade-menu [class^="icon-"], #fade-menu [class*=" icon-"] {
	margin-right: 3px;
	margin-top: 0;
	margin-left: 1px;
}

#fade-menu ul li ul li a {
	padding-top: 2px;
	font-family: Helvetica, arial, freesans, sans-serif; /*Karla*/
}

#fade-menu ul li ul li {
	width: 210px;
	display: block;
	float: none;
	border-right: none;
}

#fade-menu ul li ul {
	left: 0;
}

#fade-menu ul li ul li:last-child > a {
	border-bottom: none;
	height: 29px;
}

body {
	padding-top: 35px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

header {
	margin-bottom: 0;
	/* background: #A0A0A0; */
}

.main-col {
	float: left;
	padding: 10 0;
	position: relative;
	margin-left: 10;
	padding-left: 20;
}

#login-wrapper {
	position: relative;
	border: 1px solid #ddd;
	width: 474px;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

.flash {
	font-weight: bold;
	display: none;
	position: fixed;
	padding: 5px 10;
	top: 120;
	right: 110;
	min-width: 200;
	opacity: 0.95;
	margin: 0 0 10 10;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	background-color: #888;
	border: 2px solid #fff;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background-image: none;
	background-repeat: no-repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	z-index: 2000;
}

.error.help-inline {
	margin-top: -2px;
	font-size: 11px;
	float: left;
	margin-bottom: 0;
}

.error.help-inline.label-line {
	margin-top: -23px;
	float: right;
}

/*
.control-group.error .controls {
	float: none;
	margin-bottom: 0;
	font-size: 11px;
	display: inline-block;
	z-index: 1000;
	vertical-align: bottom;
	position: relative;
	top: 11px;
	right: 232px;
}
*/

textarea {
	width: 200px;
	margin-bottom: 0;
}

input[type="text"], input[type="password"], select {
	/* width: 200; */
	margin-right: 5px;
}

textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
	background-color: #fff;
	border: 2px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	margin-bottom: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 2px solid #e5e5e5;
}

legend + .control-group {
	margin-top: 0;
	-webkit-margin-top-collapse: separate;
	overflow: visible;
}

.thumbnail {
	border: 2px solid #ccc;
}

.fileupload .thumbnail, .fileupload {
	margin-bottom: 0;
}

.navbar .nav > li > a {
    padding: 10 15px 10 0;
}

#fade-menu ul li a.arrow_down {
	font-size: 13px;
	font-weight: bold;
	font-family: Karla, Helvetica, arial, freesans, sans-serif;
	text-shadow: 0px 1px 0px #464B4C;
	background-image: url(/static/images/icon-arrow-down.png);
	background-repeat: no-repeat;
	background-position: right 12px;
}

#fade-menu li.active>a.arrow_down {
	background-image: url(/static/images/icon-arrow-down.png);
	background-repeat: no-repeat;
	background-position: right 12px;
}

.pull-right.user {
	color: #EEE;
	margin-top: 7px;
	margin-right: 30px;
	font-size: 13px;
	font-weight: bold;
	font-family: Helvetica, arial, freesans, sans-serif; /*Karla*/
	text-shadow: 0px 1px 0px #464B4C;
}

div.error_wrapper .error {
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

div.error_wrapper {
    margin-bottom: 0;
}

span#closeflash {
    float: right;
}

.well {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background: none;
	box-shadow: none;
}

.w-box-content.cnt_ab {
	padding: 0 10px;
}

.w-box-blue .w-box-header {
	background-color: #4682B4;
}

.w-box-green .w-box-header {
	background-color: #75B643;
}

#content {
	padding-top: 20;
}

.auth-at-loginpage fieldset {
	width: 25%;
	min-width: 270;
	margin: 0 10;
}

#main-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: -15px auto -40px;
}

footer, .push {
	height: 35px;
}

footer {
	margin-bottom: 0;
}

.password_strength {
	display: block;
	width: auto;
	margin: 2px 0 -18px 5px;
	text-align: center;
	float: left;
}

span.password_strength {
	position: relative;
	top: -67px;
	width: auto;
	left: -9px;
	float: right;
	margin-bottom: -20px;
}

.form-horizontal .controls {
	line-height: 30px;
	font-size: 14px;
}

.form-vertical .controls {
	line-height: 30px;
	font-size: 14px;
	overflow: visible;
}

.form-vertical .controls a {
	color: #4183C4;
	font-weight: bold;
}

.alert {
	border-radius: 0;
	margin-top: 5px;
}

.help-block {
	margin-top: 0;
	font-size: 14px;
}

.w-box-header {
	height: 32px;
	line-height: 32px;
	padding: 0 10px 0;
	background: #A2A2A2;
	color: #FFF;
	font-size: 13px;
}

.w-box-header h4 {
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	vertical-align: middle;
}

form {
	background: none;
}

.form-actions {
	padding: 5px 0 20px;
	margin-top: 0;
	margin-bottom: 20px;
	background-color: #F5F5F5;
	border-top: none;
}

.form-actions h5 {
	font-weight: normal;
}

input[type="radio"], input[type="checkbox"] {
	margin: -2px 0 0 0;
	line-height: normal;
}

.table th input[type="checkbox"] {
	margin-top: -2px;
}

.table th, .table td {
	padding: 8px 3px 8px 10px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #DDD;
	border-radius: 0;
}

.table-bordered, th, td, tr {
	-webkit-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child {
	-webkit-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child {
	-webkit-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

input.full-width, textarea.full-width {
	width: 97.5%;
	margin-bottom: 0;
}

.social-login-icons a.social-btn {
	border-radius: 4px;
}

.social-login-icons tbody{
	vertical-align: top;
}

form#delete_social {
	margin-left: 5px;
}

#third_party_login {
	border-top: none;
	margin-top: 0;
}

#third_party_login h5 {
	font-weight: normal;
	margin-top: 0;
}

.form-warning {
	background-color: #FFFFE2;
	border: 2px solid #E7E4C2;
	border-radius: 4px;
	color: #333;
	display: inline-block;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 19px;
	margin: 10px 0 0;
	padding: 8px 10px;
	width: auto;
}

.form-warning p {
	margin: 0;
}

label {
	cursor: default;
}

#powerTip {
	cursor: default;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	display: none;
	padding: 2px 10px;
	position: absolute;
	white-space: nowrap;
	z-index: 2147483647;
	font-size: 12px;
	border-radius: 4px;
}

[class^=icsw16-], [class*=" icsw16-"] {
	margin-right: .2em;
}

#pageNav { 
	margin: 0;
	padding: 0;
	width: 100%;
}

#pageNav li { 
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid rgba(255,255,255,.6);
}

#pageNav a { 
	position: relative;
	display: block;
	font-size: 13px;
	color: #4183C4;
	padding: 6px 8px;
	background: #888;
	background: rgba(0,0,0,.08);
	border-bottom: none;
}

#pageNav a:hover, #pageNav .active a { 
	text-decoration: none;
	background: #777;
	background: rgba(0,0,0,.15);
	border-bottom: none;
}

#pageNav .active a {
	font-weight: bold;
	border-left: 2px solid #D26911 !important;
	color: #1A5EA2;
	padding-left: 6px;
}

#pageNav li:last-child a { 
	border: none 
}

#pageNav li.active a:after { 
	left: 100%;
	border: solid transparent;
	content: normal;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#pageNav li.active a:after { 
	border-color: rgba(136, 183, 213, 0);
	border-left-color: rgba(0,0,0,.2);
	border-width: 16px;
	top: 50%;
	margin-top: -16px;
}

.radio, .checkbox {
	font-size: 13px;
	margin-left: 2px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
	margin-top: 2px;
	float: left;
	margin-left: -20px;
}

input[type="radio"] label {
	font-size: 13px;
	font-weight: bold;
}

.control-group {
	margin-bottom: 20px;
	overflow: visible;
}

.control-group div p, .controls div p {
	margin-top: 0; /*-7px;*/
	margin-left: 5px;
	line-height: 15px;
	font-size: 11px;
}

.label {
	padding: 2px 6px;
}

label.control-label {
	font-weight: bold;
}

.form-warning {
	margin: 0;
}

dl {
	overflow: auto;
}

dt, dd {
	font-size: 13px;
	margin: 0;
	padding-top: 0;
	line-height: 20px;
}

dd {
	overflow: auto;
	margin-left: 10px;
}

.dl-horizontal {
	margin-bottom: 15px;
}

.dl-horizontal dt {
	float: left;
	width: 160px;
	overflow: auto;
	clear: left;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

dd pre {
	font-family: inherit;
	font-size: inherit;
	background: inherit;
	border: inherit;
	padding: inherit;
	padding-top: 0;
	margin-bottom: 0;
}

.manuscript-sample {
	padding: 10px;
	border: 1px solid #CCC;
	height: 400px;
	overflow: scroll;
}

.btn {
	line-height: 20px;
}

a.btn-mini {
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
}

a.btn-mini.icon {
	padding-right: 0px;
	padding-left: 0px;
	font-size: 12px;
	width: 28px;
}

.w-box-header [class*="icsw16-"], .w-box-header [class*="splashy-"] {
	margin: -1px -1px 0 -1px;
	margin-right: 0;
}

.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
	margin-top: 0;
	width: 16px;
	margin-left: 1px;
}

a.btn-header {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;	
	background: #000;
	background: rgba(0, 0, 0, .2);
	color: #FFF;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #000;
	border-color: rgba(0, 0, 0, .3);
	padding: 0 6px;
	line-height: 20px;
	height: 20px;
	font-size: 12px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	text-decoration: none;
}

a.btn-header:hover {
	/*background: rgba(0, 0, 0, .3);*/
	background: rgba(58, 135, 173, 0.64);
}

.PB-btn {
	cursor: pointer;
	display: inline-block;
	font: 700 13px sans-serif;
	line-height: 25px;
	border-radius: 6px;
	background-clip: padding-box;
	padding: 5px 14px 3px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: always;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 0 !important;
	margin-right: 10px;
	font-size: 14px;
	color: #636360;
	background: #F1F1EE;
	background: #F1F1EE -webkit-linear-gradient(top,#F7F7F7 0,#F1F1EE 7%,#DDD 75%,#CAC7CA 100%);
	background: #F1F1EE -moz-linear-gradient(top,#F7F7F7 0,#F1F1EE 7%,#DDD 75%,#CAC7CA 100%);
	background: #F1F1EE -o-linear-gradient(top,#F7F7F7 0,#F1F1EE 7%,#DDD 75%,#CAC7CA 100%);
	background: #F1F1EE linear-gradient(top,#F7F7F7 0,#F1F1EE 7%,#DDD 75%,#CAC7CA 100%);
	border: 1px solid #CDCDC6;
	border-bottom: 1px solid #B2AFB4;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.PB-btn:hover {
	text-decoration: none;
	color: #6D696F;
	background: #F5F5F4;
	background: #F5F5F4 -webkit-linear-gradient(top,#F5F5F4,#E8E8E6 50%,#DEDEDD);
	background: #F5F5F4 -moz-linear-gradient(top,#F5F5F4,#E8E8E6 50%,#DEDEDD);
	background: #F5F5F4 -o-linear-gradient(top,#F5F5F4,#E8E8E6 50%,#DEDEDD);
	background: #F5F5F4 linear-gradient(top,#F5F5F4,#E8E8E6 50%,#DEDEDD);
	border: 1px solid #CCC9D0;
	border-bottom-color: #B2AFB4;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.PB-btn-primary {
	color: #FFF;
	background: #7ADA4A;
	background: #7ADA4A -webkit-linear-gradient(top,#7ADA4A,#62C831 95%,#53BF29);
	background: #7ADA4A -moz-linear-gradient(top,#7ADA4A,#62C831 95%,#53BF29);
	background: #7ADA4A -o-linear-gradient(top,#7ADA4A,#62C831 95%,#53BF29);
	background: #7ADA4A linear-gradient(top,#7ADA4A,#62C831 95%,#53BF29);
	border: 1px solid #509E19;
	border-bottom-color: #198D0F;
	border-top-color: #6DBE38;
	-webkit-box-shadow: 0 1px 3px rgba(38, 151, 72, .5),inset 0 1px 0 #9FE662;
	-moz-box-shadow: 0 1px 3px rgba(38,151,72,.5),inset 0 1px 0 #9fe662;
	box-shadow: 0 1px 3px rgba(38, 151, 72, .5),inset 0 1px 0 #9FE662;
	text-shadow: 0 1px 0 #25A811;
}

.PB-btn-primary:hover {
	color: #FFF;
	background: #93DD64;
	background: #93DD64 -webkit-linear-gradient(top,#93DD64,#72D239 95%,#6FCC37);
	background: #93DD64 -moz-linear-gradient(top,#93DD64,#72D239 95%,#6FCC37);
	background: #93DD64 -o-linear-gradient(top,#93DD64,#72D239 95%,#6FCC37);
	background: #93DD64 linear-gradient(top,#93DD64,#72D239 95%,#6FCC37);
	-webkit-box-shadow: 0 1px 3px rgba(38, 151, 72, .5),inset 0 1px 0 #ADEC66;
	-moz-box-shadow: 0 1px 3px rgba(38,151,72,.5),inset 0 1px 0 #adec66;
	box-shadow: 0 1px 3px rgba(38, 151, 72, .5),inset 0 1px 0 #ADEC66;
	border: 1px solid #6DBE38;
	border-bottom: 1px solid #198D0F;
	text-shadow: 0 1px 0 #25A811;
}

.PB-btn-jumbo {
	display: block;
	font-size: 18px;
	padding: 0;
	font-weight: 600;
	height: 40px;
	line-height: 40px;
	width: 100%;
}

input.PB-big-search {
	height: 34px;
	margin: 0;
	padding: 0 10px;
	font-size: 16px;
	width: 480px;
	border-radius: 7px;
	color: #6D696F;
}

.PB-btn-big-search {
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	padding: 0 19px;
	margin-left: 5px;
}

.pagination ul > li.inactive:first-child a, .pagination ul > li.inactive:last-child a, .pagination ul > li.inactive a, .pagination ul > li.inactive a:hover {
	border-color: #D1D1D1;
	background-color: #FFF;
	cursor: default;
	color: #888;
}

.list-name {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding: 0;
	color: #80A226;
	padding-left: 0;
	line-height: 22px;
}

.jQ-list .list-name {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	display: block;
	padding: 0;
	color: #80A226;
	padding-left: 67px;
}

div.list-name a {
	color: #80A226;
}

.list-title {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	display: block;
	padding: 4px 0 0;
	color: #555;
}

.jQ-list .list-title {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	display: block;
	padding: 4px 0 0;
	color: #555;
	padding-left: 67px;
}

.jQ-list .list-info {
	font-size: 13px;
	display: block;
	color: #777;
	padding-left: 67px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.jQ-list .list-tags {
	font-size: 13px;
	display: block;
	color: #777;
	padding-left: 67px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.list-name.manuscript, .list-info.manuscript, .list-title.manuscript, .list-tags.manuscript {
	padding-left: 10px;
	margin-left: 10px;
}

.jQ-list ul img + .list-name, .jQ-list ul img + .list-name + .list-info, .jQ-list ul img + .list-info {
	padding-left: 67px;
}

.jQ-list ul li {
	border-bottom: 1px solid #B2B2B2;
	padding-bottom: 18px;
	padding-top: 18px;
}

.jQ-list ul li:first-child {
	border-top: 1px solid #B2B2B2;
}

.jQ-list {
	height: auto;
	position: relative;
	overflow: visible;
}

.jQ-list > ul {
	height: auto;
	overflow: visible;
	list-style: none;
}

.jQ-list .record-count {
	padding: 3px 10px;
	float: left;
	top: 18px;
	position: relative;
	font-weight: bold;
	margin-bottom: 36px;
}

.w-box-content {
	min-height: 60px;
}

.w-box-content.cnt_browse {
	padding: 0 20px;
}

.w-box-content.borders {
	border: 1px solid #CCC;
}

.label.label-info {
	margin-right: 4px;
	font-weight: bold;
	margin-bottom: 2px;
}

.isHidden {
	display: none;
}

.lessmore {
	color: #80A226;
	cursor: pointer;
}

.badge {
	font-size: 10px;
	padding: 1px 5px;
	position: absolute;
	top: 2px;
	left: 21px;
	font-weight: bold;
}

#mark.marked {
	background: #3A87AD; /* #72CFFD */
}

.modal.fade.in {
	top: 25%;
}

.modal-body {
	position: relative;
	max-height: 400px;
	padding: 15px;
	overflow-y: auto;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

#breadcrumbs {
	overflow: hidden;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0 0 6px;
}

.w-box-content.submission {
	padding: 20px;
}

.submission_header {
	text-align: center;
	font-size: 16px;
	margin: 10px 20px 20px;
	line-height: 30px;
}

.submission_coverletter {
	border: 1px solid #CCC;
	padding: 10px;
	margin: 10px auto;
	width: 700px;
	box-shadow: 2px 2px 0px 0px #DDD;
	-moz-box-shadow: 2px 2px 0px 0px #DDD;
	-webkit-box-shadow:  2px 2px 0px 0px #DDD;
}

.submission pre.summary {
	box-shadow: 2px 2px 0px 0px #DDD;
	-moz-box-shadow: 2px 2px 0px 0px #DDD;
	-webkit-box-shadow:  2px 2px 0px 0px #DDD;
}

span.title {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

span.tagline {
	font-size: 14px;
}

span.co-authors {
	font-size: 14px;
}

.submission_header .genres {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

pre.summary {
	width: 700px;
	margin: 10px auto;
	border-radius: 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 15px;
	background-color: #FFF;
}

.submission.manuscript-sample {
	width: 700px;
	margin: 20px auto;
	box-shadow: 2px 2px 0px 0px #DDD;
	-moz-box-shadow: 2px 2px 0px 0px #DDD;
	-webkit-box-shadow:  2px 2px 0px 0px #DDD;
}

.submission legend {
	margin-top: 30px;
}

.submission_buttons {
	width: 390px;
	margin: 30px auto 10px;
}

.response_buttons {
	width: 250px;
	margin: 20px auto 10px;
}

.cke_chrome {
    border: 2px solid #CCC;
    border-radius: 4px;
}

.cke_inner {
    border-radius: 4px;
}

.cke_top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cke_bottom {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#coverletter_div {
    width: 700px;
}

#responseletter_div {
	width: 700px;
}

#responseletter_area {
	width: 725px;
	margin: 25px auto 20px;
}

.heading {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 22px;
	font-weight: normal;
	margin: 18px 30px 0;
	border-bottom: 2px solid #CCC;
	padding-bottom: 7px;
	padding-left: 3px;
	display: block;
}

#form_login_user .control-label {
	font-weight: normal;
}

/*==================================================================*/
/*       http://www.webdesignerwall.com/demo/css-buttons.html       */
/*==================================================================*/

/* button 
---------------------------------------------- */

.custom-button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Helvetica, sans-serif;
	padding: .7em 2em .75em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .4em; 
	-moz-border-radius: .4em;
	border-radius: .4em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.custom-button:hover {
	text-decoration: none;
}
.custom-button:active {
	position: relative;
	top: 1px;
}

.custom-bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.custom-medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.custom-small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles 
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

