    {% extends base_layout %}

    {% block content %}

    <div class="span12" style="margin-left:0;">

        <ul id="breadcrumbs">
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><span>Browse: Authors</span></li>
        </ul>

        <div class="span3" style="margin-left: 0;">
            <div class="sidebar">
                <div class="w-box w-box-orange">
                    <div class="w-box-header">
                        <h4>Filter by genre</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <a href="javascript:void(0)" class="PB-btn PB-btn-primary" id="update" style="padding: 1px 14px 1px;">Update</a>
                        <div class="control-group" style="margin-top: 15px;">
                            <div class="controls">
                                <label><b>Fiction:</b></label>
                                {% for i in genrelist_fiction %}
                                <label><input type="checkbox" id="genre_{{ i }}" name="genre" value="{{ i }}" style="margin-right: 5px; margin-top: -2px;" {%if i in genres %} checked = "checked" {% endif %}>{{ i }}</label>
                                {% endfor %}
                            </div>
                            <div class="controls" style="margin-top: 20px;">
                                <label><b>Non-fiction:</b></label>
                                {% for i in genrelist_nonfiction %}
                                <label><input type="checkbox" id="genre_{{ i }}" name="genre" value="{{ i }}" style="margin-right: 5px; margin-top: -2px;" {%if i in genres %} checked = "checked" {% endif %}>{{ i }}</label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span9">
            <div class="w-box">
                <div class="w-box-content cnt_browse jQ-list" style="border-top-width: 1px;">
                    <div class="record-count">{{ count }}&nbsp;authors</div>
                    {% if authors|length > 0 %}
                    {{ macros.pagination(previous, next, marks) }}
                    {% endif %}
                    <ul>
                    {% for a in authors %}
                        <li>
                    
                            {% if a.picture_url != '' and a.picture %}
                            <img src="{{ a.picture_url }}" alt="" style="max-height: 50px; max-width: 50px;">
                            {% else %}
                            <img src="/static/images/dummy_50x50.gif" alt="">
                            {% endif %}
                            
                            <div class="list-name"><a href="/browse/authors/view?aid={{ a.author_id }}">{{ a.name_to_display }}</a></div>

                            <div class="list-title">{{ a.title }}</div>

                            <div class="list-info">
                            {% if a.overview.split(' ')|length <= 40 %}
                            {{ a.overview }}
                            {% else %}
                            <div class='jsTruncated'>{{ ' '.join(a.overview.split(' ')[0:40]) }} ...<span class='lessmore'> more</span></div>
                            <div class='jsFull isHidden'>{{ a.overview }}<br><span class='lessmore'>less</span></div>
                            {% endif %}
                            </div>

                            {% if a.manuscripts|length > 0 %}
                            <div class="list-info">Manuscripts:
                                {% for m in a.manuscripts %}
                                <a href="{{ uri_for('view-manuscript-details') }}?mid={{ m[1] }}">{{ m[0] }}</a>{% if not m == a.manuscripts|last %};{% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="list-tags">{% for i in a.genres|sort %}<span class="label label-info">{{ i }}</span>{% endfor %}</div>

                            {% if a.ghostwrites %}
                            <div class="list-info">Available as ghostwriter</div>
                            {% endif %}

                            {% if a.freelance %}
                            <div class="list-info">Available as freelance writer</div>
                            {% endif %}

                        </li>
                    {% endfor %}
                    </ul>
                    {% if authors|length > 0 %}
                    {{ macros.pagination(previous, next, marks) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block mediaJS %}

    <script type="text/javascript">

        $().ready(function() {

            $(".{{ active }}").addClass('active');

            $('#update').click(function(){
                var a = $('input[name="genre"]').serialize();
                window.location.href = "/browse/authors?" + a;
            })

            $('.bookmark').click(function(i){
                var a = $('input[name="genre"]').serialize();
                var b = $(this).attr('id').replace('page', '');
                window.location.href = "/browse/authors?" + a + '&page=' + b;
            });

            $('.lessmore').click(function(i){
                var a = $(this).closest('.list-info').children();
                for (var i=0; i<a.length; i++) {
                    if ( $(a[i]).hasClass('isHidden') ){
                        $(a[i]).removeClass('isHidden');
                    }
                    else {
                        $(a[i]).addClass('isHidden');
                    }
                }
            })

        });

    </script>

    {% endblock %}
