    {% extends base_layout %}

    {% block content %}

    {{ macros.left_sidebar("pro_details") }}

    <div class="span9">             
        <div class="w-box">
            <div class="w-box-header">
                <h4>{% trans %}My contractor profile{% endtrans %}</h4>
                <div class="pull-right">
                    {% if there_is_profile %}
                    <a href="{{ uri_for('edit-prodetails') }}" class="btn btn-mini">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="w-box-content cnt_ab">
                <div class="well form-vertical">
                    {% if there_is_profile %}
                    <div>
                        <dl class="dl-horizontal">
                            <dt>Title</dt>
                            <dd>{{ title }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Overview</dt>
                            <dd><pre>{{ overview }}</pre></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>English level</dt>
                            <dd> 
                                {% if english_level == 0 %}English level not selected{% endif %}
                                {% if english_level == 5 %}5 - Fluent in both written and verbal skills{% endif %} 
                                {% if english_level == 4 %}4 - Fluent written skills, good verbal skills{% endif %}
                                {% if english_level == 3 %}3 - Fluent written skills, basic verbal skills{% endif %}
                                {% if english_level == 2 %}2 - Good written skills, no verbal skills{% endif %}
                                {% if english_level == 1 %}1 - Basic written skills, no verbal skills{% endif %} 
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Jobs you perform</dt>
                            <dd>{{ joblist }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Profile visibility</dt>
                            <dd> 
                                {% if profile_visibility == 'everyone' %}
                                    {% trans %}Everyone{% endtrans %}&nbsp;-&nbsp;{% trans %}Anyone can see your profile whether or not they are logged into PublishBay.{% endtrans %}
                                {% endif %}
                                {% if profile_visibility == 'pb_users_only' %}
                                    {% trans %}PublishBay users only{% endtrans %}&nbsp;-&nbsp;{% trans %}Only PublishBay users who are logged in can see your profile.{% endtrans %}
                                {% endif %}
                                {% if profile_visibility == 'hidden' %}
                                    {% trans %}Hidden{% endtrans %}&nbsp;-&nbsp;{% trans %}Clients can see your profile only if you have applied to their job.{% endtrans %}
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                    {% else %}
                    <div class="row-fluid">
                        <div class="span6 offset3">
                            <a href="{{ uri_for('edit-prodetails') }}" class="PB-btn PB-btn-primary PB-btn-jumbo">Create Contractor Profile</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block mediaJS %}
    {% endblock %}

