    {% extends base_layout %}

    {% block content %}

    {{ macros.left_sidebar("pro_details") }}

    <div class="span9">             
        <div class="w-box">
            <div class="w-box-header"><h4>{% trans %}Update professional profile{% endtrans %}</h4></div>
            <div class="w-box-content">

                <div id="edit_pro_details" class="well form-vertical">
                    <fieldset>
                        <form id="form_pro_details" action="{{ upload_url }}" enctype="multipart/form-data" method="post"> <!-- url|safe -->
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <legend>Professional overview</legend>
                            <div class="control-group">
                                <label class="control-label">Display name</label>
                                <label class="radio">
                                    <input type="radio" name="display_full_name" id="display_full_name_true" value="True" {% if display_full_name %}checked=""{% endif %}>
                                    <b>{{ first_name }}&nbsp;{{ last_name }}</b>&nbsp;-&nbsp;{% trans %}show your full name{% endtrans %}
                                </label>
                                <label class="radio">
                                    <input type="radio" name="display_full_name" id="display_full_name_false" value="False" {% if not display_full_name %}checked=""{% endif %}>
                                    <b>{{ first_name }}&nbsp;{{ last_name[0]+'.' }}</b>&nbsp;-&nbsp;{% trans %}show your first name and last initial{% endtrans %}
                                </label>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Portrait</label>
                                <div class="fileupload fileupload-new" data-provides="fileupload" style="float: left; margin-right:20px;">
                                    <div class="fileupload-new thumbnail" style="width: 50px; height: 50px; margin-right: 15px; line-height: 50px;">
                                        {% if picture_url == ''%}
                                        <img src="/static/images/dummy_50x50.gif" alt="">
                                        {% else %}
                                        <img src="{{ picture_url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px; margin-right: 15px;"></div>
                                    <span class="btn btn-small btn-file">
                                        <span class="fileupload-new">Select a photo now</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="file" id="file" />
                                        <input type="hidden" name="upload_url" value="{{ upload_url }}"/>
                                    </span>
                                    <a href="#" class="btn btn-small fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                                <aside style="display: block; margin-top: -10px; padding-right: 20px;">
                                    <h4 style="font-weight: normal; font-size: 16px; margin-bottom: 5px; margin-top: 13px;">You need a photo! </h4>
                                    <p>Professionals with a friendly, professional-looking portrait are hired
                                    <b>5 times more often</b> than those without a photo.</p>
                                </aside>   
                            </div>

                            {{ macros.field(form.title, label=_("Title"), class="input-xxlarge focused") }}

                            <div class="control-group">
                                <label class="control-label">Overview</label>
                                <div class="controls">
                                    <textarea class="input-xxlarge focused" cols="50" id="overview" name="overview" rows="8" style="resize: vertical;">{{ overviewdata }}</textarea>
                                </div>
                                <div style="font-size: 11px; display: block; line-height: 15px; width: 540px;">
                                    <p>Include a short summary of your career goals and relevant experience. This is your opportunity to sell yourself! Make sure to check your overview statement for spelling and grammar errors. <span id="countdown" style="float: right; font-weight: bold;"></span></p>
                                    
                                </div>   
                            </div>

                            <div class="control-group">
                                <label class="control-label">English level</label>
                                <div class="controls required">
                                    <select name="english_level" class="" id="english_level" style="width: 310px;"> 
                                        <option value="0" label="Please select..."{% if english_level == 0 %}selected{% endif %}>Please select...</option> 
                                        <option value="5" label="5 - Fluent in both written and verbal skills" {% if english_level == 5%}selected{% endif %}>5 - Fluent in both written and verbal skills</option> 
                                        <option value="4" label="4 - Fluent written skills, good verbal skills" {% if english_level == 4%}selected{% endif %}>4 - Fluent written skills, good verbal skills</option> 
                                        <option value="3" label="3 - Fluent written skills, basic verbal skills" {% if english_level == 3%}selected{% endif %}>3 - Fluent written skills, basic verbal skills</option> 
                                        <option value="2" label="2 - Good written skills, no verbal skills" {% if english_level == 2%}selected{% endif %}>2 - Good written skills, no verbal skills</option> 
                                        <option value="1" label="1 - Basic written skills, no verbal skills" {% if english_level == 1%}selected{% endif %}>1 - Basic written skills, no verbal skills</option> 
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">What jobs best fit your skills?</label>
                                <div class="controls" style="float: left; width: 200px;">
                                    {% for job in joblist_left %}
                                    <label>
                                        <input type="checkbox" id="{{job.lower()}}" name="jobs" value="{{job}}" {% if job in joblist %}checked="checked"{% endif %}>
                                        {{job}}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="controls" style="float: left; width: 200px;">
                                    {% for job in joblist_center %}
                                    <label>
                                        <input type="checkbox" id="{{job.lower()}}" name="jobs" value="{{job}}" {% if job in joblist %}checked="checked"{% endif %}>
                                        {{job}}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="controls" style="float: left; width: 200px;">
                                    {% for job in joblist_right %}
                                    <label>
                                        <input type="checkbox" id="{{job.lower()}}" name="jobs" value="{{job}}" {% if job in joblist %}checked="checked"{% endif %}>
                                        {{job}}
                                    </label>
                                    {% endfor %}
                                </div>
                                <input style="display: none;" id="joblist" name="joblist" type="text" value="" />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Profile visibility</label>
                                <label class="radio">
                                    <input type="radio" name="profile_visibility" id="profile_visibility_everyone" value="everyone" {% if profile_visibility == 'everyone' %}checked=""{% endif %}>
                                    <b>{% trans %}Everyone{% endtrans %}</b>&nbsp;-&nbsp;{% trans %}Anyone can see your profile whether or not they are logged into PublishBay.{% endtrans %}
                                </label>
                                <label class="radio">
                                    <input type="radio" name="profile_visibility" id="profile_visibility_pb_users_only" value="pb_users_only" {% if profile_visibility == 'pb_users_only' %}checked=""{% endif %}>
                                    <b>{% trans %}PublishBay users only{% endtrans %}</b>&nbsp;-&nbsp;{% trans %}Only PublishBay users who are logged in can see your profile.{% endtrans %}
                                </label>
                                <label class="radio">
                                    <input type="radio" name="profile_visibility" id="profile_visibility_hidden" value="hidden" {% if profile_visibility == 'hidden' %}checked=""{% endif %}>
                                    <b>{% trans %}Hidden{% endtrans %}</b>&nbsp;-&nbsp;{% trans %}Clients can see your profile only if you have applied to their job.{% endtrans %}
                                </label>
                            </div>

                            <legend>Contact info</legend>

                            {{ macros.field(form.address1, label=_("Address 1"), class="input-xxlarge focused") }}
                            {{ macros.field(form.address2, label=_("Address 2"), class="input-xxlarge focused") }}
                            {{ macros.field(form.city, label=_("City"), class="input-xlarge focused") }}
                            {{ macros.field(form.state, label=_("State"), class="input-large focused") }}
                            {{ macros.field(form.zipcode, label=_("ZIP"), class="input-large focused") }}
                            {{ macros.field(form.phone, label=_("Phone"), class="input-large focused") }}
                            <div class="form-actions">
                                <button type="submit" class="btn">{% trans %}Update Professional Profile{% endtrans %}</button>
                            </div>
                        </form>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}
    {% block mediaJS %}
    
    <!-- file upload widget -->
        <script src="/static/js/form/bootstrap-fileupload.min.js"></script>
    
    <script type="text/javascript">

        function updateCountdown() {
        // 5000 is the max message length
        var remaining = 5000 - $('#overview').val().length;
        $('#countdown').text(remaining + {% trans %}' characters left.'{% endtrans %});
        }

        $().ready(function() {
            $("#form_pro_details").validate({
                submitHandler: function(form) {
                        $('#joblist').attr('value', $('input[name="jobs"]').serialize());
                        form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            updateCountdown();
            $('#overview').change(updateCountdown);
            $('#overview').keyup(updateCountdown);

        });
    </script>
    {% endblock %}

