{% extends base_layout %}

{% block content %}

{{ macros.left_sidebar("change_email") }}

<div class="span9">             
    <div class="w-box">
        <div class="w-box-header"><h4>Change e-mail</h4></div>
        <div class="w-box-content">

            <form id="form_edit_email" action="{{ url|safe }}" method="post" class="well form-vertical">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="control-group">
                        <label class="control-label">Current Email:&nbsp;<b>{{ current_email }}</b></label>
                    </div>
                    {{ macros.field(form.new_email, label=_("New Email"), class="input-large focused required email", type="email") }}
                    {{ macros.field(form.password, label=_("Current Password"), class="input-large focused required", type="password") }}
                    <div class="form-actions">
                        <button type="submit" class="btn">{% trans %}Change email{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_edit_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}