    {% extends base_layout %}

    {% block content %}

    {{ macros.left_sidebar("edit_profile") }}

    <div class="span5">             
        <div class="w-box">
            <div class="w-box-header"><h4>Edit profile</h4></div>
            <div class="w-box-content">

                <div id="edit_profile" class="well form-vertical">
                    <fieldset>
                        <form id="form_edit_profile" action="{{ url|safe }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            {{ macros.field(form.username, label=_("Username"), class="input-large focused required") }}
                            {{ macros.field(form.name, label=_("Name"), class="input-large focused") }}
                            {{ macros.field(form.last_name, label=_("Last Name"), class="input-large focused") }}
                            {{ macros.field(form.country, label=_("Country")) }}
                            <div class="form-actions">
                                <button type="submit" class="btn">{% trans %}Update Profile{% endtrans %}</button>
                            </div>
                        </form>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}

    {% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_edit_profile").validate({
                submitHandler: function(form) {
                        form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
            {% if country != "" %}
            $('#country option[value="{{ country }}"]').attr("selected",true);
            {% endif %}
        });
    </script>
    {% endblock %}

