    {% extends base_layout %}

    {% block content %}

    {{ macros.left_sidebar("author_profile") }}

    <div class="span9">             
        <div class="w-box">
            <div class="w-box-header"><h4>{% trans %}Edit my author profile{% endtrans %}</h4></div>
            <div class="w-box-content cnt_ab">

                <div id="edit_author_profile" class="well form-vertical">
                    <fieldset>
                        <form id="form_author_profile" action="{{ url|safe }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <legend>Author Profile Info</legend>

                            <div class="control-group">
                                <label class="control-label" for="title">In a few words, describe yourself and/or your work</label>
                                <div class="controls">
                                    <input class="input-xxlarge focused" id="title" name="title" type="text" value="{{ title }}">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Overview</label>
                                <div class="controls">
                                    <textarea class="input-xxlarge focused" cols="50" id="overview" name="overview" rows="8" style="resize: vertical;">{{ overview }}</textarea>
                                </div>
                                <div style="font-size: 11px; display: block; line-height: 15px; width: 540px;">
                                    <p>Include a short summary of your career as an author and/or relevant experience. Make sure to check your overview statement for spelling and grammar errors!
                                        <span id="countdown" style="float: right; font-weight: bold;"></span>
                                    </p>
                                </div>   
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="pseudonyms">Pseudonyms</label>
                                <div class="controls">
                                    <input class="input-xxlarge focused" id="pseudonyms" name="pseudonyms" type="text" value="{{ pseudonyms }}">
                                </div>
                                <div style="font-size: 11px; display: block; line-height: 15px; width: 540px;">
                                    <p>Enter different pseudonyms separated by comma.</p>
                                </div>   
                            </div>

                            <div class="control-group">
                                <label class="control-label">Select genres that best fit your work (optional)</label>
                                <div style = "overflow: auto; border: 2px solid #CCC; padding: 10px; border-radius: 8px; margin-bottom: 10px;">
                                    <label style="clear: both; padding-top: 5px;">Fiction:</label>
                                    <div class="controls" style="float: left; width: 200px;">
                                        {% for genre in fiction_genres_left %}
                                        <label>
                                            <input type="checkbox" id="{{ genre.lower() }}" name="genres" value="{{ genre }}" {% if genre in genres_list %}checked="checked"{% endif %}>
                                            {{ genre }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <div class="controls" style="float: left; width: 200px;">
                                        {% for genre in fiction_genres_center %}
                                        <label>
                                            <input type="checkbox" id="{{ genre.lower() }}" name="genres" value="{{ genre }}" {% if genre in genres_list %}checked="checked"{% endif %}>
                                            {{ genre }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <div class="controls" style="float: left; width: 200px;">
                                        {% for genre in fiction_genres_right %}
                                        <label>
                                            <input type="checkbox" id="{{ genre.lower() }}" name="genres" value="{{ genre }}" {% if genre in genres_list %}checked="checked"{% endif %}>
                                            {{ genre }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <label style="clear: both; padding-top: 5px;">Non-fiction:</label>
                                    <div class="controls" style="float: left; width: 200px;">
                                        {% for genre in nonfiction_genres_left %}
                                        <label>
                                            <input type="checkbox" id="{{ genre.lower() }}" name="genres" value="{{ genre }}" {% if genre in genres_list %}checked="checked"{% endif %}>
                                            {{ genre }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <div class="controls" style="float: left; width: 200px;">
                                        {% for genre in nonfiction_genres_center %}
                                        <label>
                                            <input type="checkbox" id="{{ genre.lower() }}" name="genres" value="{{ genre }}" {% if genre in genres_list %}checked="checked"{% endif %}>
                                            {{ genre }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                    <div class="controls" style="float: left; width: 200px;">
                                        {% for genre in nonfiction_genres_right %}
                                        <label>
                                            <input type="checkbox" id="{{ genre.lower() }}" name="genres" value="{{ genre }}" {% if genre in genres_list %}checked="checked"{% endif %}>
                                            {{ genre }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <input style="display: none;" id="checked_genres" name="checked_genres" type="text" value="" />
                            </div>

                            <div class="control-group">
                                <label class="control-label" style="margin-bottom: 0">Ghostwriting</label>
                                    <div class="controls">
                                        <input type="checkbox" id="ghostwrites" name="ghostwrites" value="True" {% if ghostwrites %}checked="checked"{% endif %}>
                                        Available as ghostwriter
                                    </div>
                                </label>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn">
                                {% if there_is_author_profile %}
                                    {% trans %}Update Author Profile{% endtrans %}
                                {% else %}
                                    {% trans %}Create Author Profile{% endtrans %}
                                {% endif %}
                                </button>
                            </div>
                        </form>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}
    {% block mediaJS %}
    
    <!-- file upload widget -->
        <script src="/static/js/form/bootstrap-fileupload.min.js"></script>
    
    <script type="text/javascript">

        function updateCountdown() {
        // 5000 is the max description length
        var remaining = 5000 - $('#overview').val().length;
        $('#countdown').text(remaining + {% trans %}' characters left.'{% endtrans %});
        }

        $().ready(function() {
            $("#form_author_profile").validate({
                submitHandler: function(form) {
                        $('#checked_genres').attr('value', $('input[name="genres"]').serialize());
                        form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            updateCountdown();
            $('#overview').change(updateCountdown);
            $('#overview').keyup(updateCountdown);

        });
    </script>
    {% endblock %}

