{% extends base_layout %}

{% block header_title_lead %}
{% endblock %}

{% block content %}

<style type="text/css">
p {
    font-size: 14px;
    font-family: Karla, Helvetica, freesans, sans-serif;
}
</style>

    <div class="span12" style="margin-left: 0;">
        <div class="span8" style="margin-top: 30px; margin-left: 160px;">
            <div class="w-box">
                <div class="w-box-content borders cnt_browse" style="padding: 30px;">
                    <div style="width: 100%; text-align: center;">
                        <h2>Site under construction</h2>
                    </div>
                    <div>
                        <br>
                        <p>This website will be a platform for publishers, authors and contractors to meet, exchange, create and publish e-books. The main thing about PublishBay is that any user can be an author, a publisher, a contractor or any combination of those. Users will be able to play the role of publishers and emulate a real publishing house professional structure/hierarchy.</p>
                        <p>As of now - July, 2013 - PublishBay team is working on the publisher/author relationship and the submission process. The work is being developed based on a market research on publishing houses <i>"standard"</i> submission processes, spanning from inquiry letters to manuscript deals and acquisitions.</p>
                        <p>Feel free to register, create author/publisher/contractor profiles and browse around. As the project is still in its early stages, you'll notice some missing pages, placeholders and bugs. Also, databases are being frequently redesigned, therefore some data might be lost. Remember, this is a project in its early stages.</p>
                        <p>If you are interested in participating in this project, or just want to give us some input/feedback, email our manager: <b>rchaber at publishbay dot com</b>.</p>
                        <p>Stay tunned for exciting news and updates!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user_id %}
    {% else %}

    {% endif %}

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        // $().ready(function() {
        //     $("#form_login_user").validate({
        //         submitHandler: function(form) {
        //             form.submit();
        //         },
        //         errorPlacement: function(error, element) {
        //             element.parent().parent().addClass("error");
        //             error.addClass("help-inline").appendTo( element.parent() );
        //         }
        //     });

        //     $("#form_register").validate({
        //         submitHandler: function(form) {
        //             form.submit();
        //         },
        //         rules: {
        //             password: 'required',
        //             c_password: {
        //                 required: true,
        //                 equalTo: '#password'
        //             }
        //         },
        //         errorPlacement: function(error, element) {
        //             element.parent().parent().addClass("error");
        //             error.addClass("help-inline").appendTo( element.parent() );
        //         }
        //     });
            
        //     $("#password").passStrength({
        //         shortPassText: '{% trans %}Short Password{% endtrans %}',
        //         badPassText: '{% trans %}Insecure Password{% endtrans %}',
        //         goodPassText: '{% trans %}Good Password{% endtrans %}',
        //         strongPassText: '{% trans %}Secure Password{% endtrans %}'
        //     });
        // });
    </script>
{% endblock %}

