{% extends base_layout %}

{% block content %}
<div class="span7" style="float: none; margin: 30px auto;">
    <div class="w-box">
        <div class="w-box-header"><h4>Login</h4></div>
        <div class="w-box-content">

            <form id="form_login_user" action="{{ url|safe }}" method="post" class="well form-vertical auth-at-loginpage">
                <fieldset style="width: 95%;">
                    <div style="float: right; width: 200px;">
                        {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
                        <div id="register" class="form-actions" style="margin-top: 5px;">
                            <h5>{% trans %}Don't have an account?{% endtrans %}</h5>
                            <a href="{{ uri_for("register") }}" class="btn btn-login">{% trans %}Register{% endtrans %}</a>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    {{ macros.field(form.username, label=_("Username or Email"), class="input-large focused required", tabindex="1") }}
                    {{ macros.field(form.password, label=_("Password"), class="input-large focused required", tabindex="2", type="password") }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-login">{% trans %}Login{% endtrans %}</button>
                            <label class="remember">
                                <input type="checkbox" name="remember_me" id="remember_me" value="on">
                                {% trans %}Remember me?{% endtrans %}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("[for='l_password']").append('&nbsp;&nbsp;<a href="/password-reset/" style="font-size: 13px; color: #4183C4;"><b>(forgot password)</b></a>');
            $("#form_login_user").validate({
                submitHandler: function(form) {
                          form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
            $("#l_username").focus()
        });
    </script>
{% endblock %}