{% extends base_layout %}

{% block content %}

<div class="span5" style="float: none; margin: 30px auto;">             
    <div class="w-box">
        <div class="w-box-header"><h4>Reset password</h4></div>
        <div class="w-box-content">

            <script type="text/javascript">
                var RecaptchaOptions = {
                    custom_translations : {
                            instructions_visual : "Type in the two words:",
                            instructions_audio : "Type what you hear:",
                            play_again : "Play again",
                            cant_hear_this : "Can't hear this",
                            visual_challenge : "Visual challenge",
                            audio_challenge : "Audio challenge",
                            refresh_btn : "Refresh",
                            help_btn : "Help",
                            incorrect_try_again : "Wrong. Try again.",
                    },                    
                    lang : 'en',
                    theme : 'white'
                };
            </script>

            <form id="form_reset_password" action="{{ url|safe }}" method="post" class="well form-vertical">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="control-group">
                        <label class="control-label" for="email_or_username">{% trans %}Username or Email{% endtrans %}:</label>
                        <div class="controls">
                            <input class="input-xlarge focused required" name="email_or_username" id="email_or_username" type="text" style="width: 298px;" />
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom: 0;">
                        <div class="controls" id="captcha" style="margin-left: -2px; line-height: 12px;">
                            {{ captchahtml|safe }}
                        </div>
                    </div>
                    <div class="form-actions" style="margin-top: 10px; margin-left: 1px;">
                        <button type="submit" class="PB-btn PB-btn-primary">{% trans %}Reset Password{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $('#recaptcha_privacy').css('display', 'none');
            $('#recaptcha_response_field').attr('style', 'padding-left: 5px!important;');
            $('iframe').css('display', 'none');
            $("#form_reset_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}