{% extends base_layout %}

{% block content %}
<div class="span5" style="float: none; margin: 30px auto;">             
    <div class="w-box">
        <div class="w-box-header"><h4>Password reset completed</h4></div>
        <div class="w-box-content">

            <form id="form_new_password" action="{{ url|safe }}" method="post" class="well form-horizontal">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    {{ macros.field(form.password, label=_("New Password"), class="input-large focused required", type="password") }}
                    {% if not is_mobile %}
                    {{ macros.field(form.c_password, label=_("Confirm Password"), class="input-large focused required", type="password") }}
                    {% endif %}
                    <div class="form-actions" style="margin-top: -20px;">
                        <button type="submit" class="btn">{% trans %}Reset password{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_new_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}