{% extends base_layout %}

{% block content %}
<div class="span7" style="float: none; margin: 30px auto;">
    <div class="w-box">
        <div class="w-box-header"><h4>create a free personal account</h4></div>
        <div class="w-box-content">

            <form id="form_register" action="{{ url|safe }}" method="post" class="well form-vertical">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div style="float: left; width: 45%">
                        {{ macros.field(form.username, label=_("Username"), class="input-large focused required") }}
                        {{ macros.field(form.name, label=_("Name"), class="input-large focused") }}
                        {{ macros.field(form.last_name, label=_("Last Name"), class="input-large focused") }}
                        {{ macros.field(form.email, label=_("Email"), class="input-large focused required email", type="email") }}
                    </div>
                    <div style="display: inline-block; float: left; width: 45%; margin-left: 30px">
                        {{ macros.field(form.password, label=_("Password"), class="input-large focused required", type="password") }}
                        {% if not is_mobile %}
                        {{ macros.field(form.c_password, label=_("Confirm Password"), class="input-large focused required", type="password") }}
                        {% endif %}
                        {{ macros.field(form.country, label=_("Country")) }}
                    </div>
                    <div class="form-warning">
                        <p>By clicking on "Create an account" below, you are agreeing to the
                        <a href="/terms/" target="_blank">Terms of Service</a> and the
                        <a href="/privacy/" target="_blank">Privacy Policy</a>.</p>
                    </div>
                    <div class="form-actions" style="margin-top: 0">
                        <button type="submit" class="btn">{% trans %}Create an account{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_register").validate({
            submitHandler: function(form) {
                    form.submit();
            },
            rules: {
                password: 'required',
                c_password: {
                    required: true,
                    equalTo: '#password'
                }
            },
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });

        $("#password").passStrength({
            shortPassText: '{% trans %}Short Password{% endtrans %}',
            badPassText: '{% trans %}Insecure Password{% endtrans %}',
            goodPassText: '{% trans %}Good Password{% endtrans %}',
            strongPassText: '{% trans %}Secure Password{% endtrans %}'
        });

        $('#username').focus()
    });
</script>
{% endblock %}

